/server1/
/server/build/
/server/exe/
/server/mark/
/server/.idea/sonarlint/
/server/.idea/shelf/
/server/.idea/workspace.xml
/server/.gradle/
/server/gradle/
/server/bin/
/server/logs/
/server/secrets.gradle
/server/src/main/resources/config/application.yaml
/server/src/main/resources/e-journalfcm-firebase-auth.json

/docs/