/project/client/node_modules/
/project/client/.idea/
/project/client/build/
/project/client/mark/
/project/server/build/
project/server/exe
/project/server/mark/
/project/server/.idea/
/project/server/.gradle/
/project/server/gradle/
/project/Доки
/release/